{% extends "base.html" %}
{% load static %}

{% block content %}
   <link rel="stylesheet" type="text/css" href="{% static 'bookSell/register.css' %}" />
	<style>
		.margin-bottom{
			margin-bottom: 50px;
		}
	</style>
   <div class="margin-bottom row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Login</h1>

			<form id="user_form" method="post" action="{% url 'login' %}">
				{% csrf_token %}

				{% if form.errors %}
					{{ form.errors }}
				{% endif %}
				Username: <input type="text" name="username" class="form-control"/>
				<br />
				Password: <input type="password" name="password" class="form-control" />
				<br />
				<input type="submit" value="Login" class="btn btn-default" />
			</form>
		</div>
	</div>
{% endblock %}