{% if books %}
	<h2>{{ title }}</h2>
	<ul class="list-group">
	{% for book in books %}
		<li class="list-group-item">
			<a href="{% url 'book' book.id %}">{{ book.book.title }}</a> by {{book.book.author}}<br/>
			<strong> Solid By: </strong> {{book.userSelling}} for ${{book.cost}} <br/>
			{% if book.rating %}
				rated at {{book.rating.rating}}/5
			{% else %}
				<a href="{% url 'user_rating' book.id %}"> Rate user selling book </a>
			{% endif %}
			{% if condition == True %}
				<br/><br/>
				<a class="option" href="{% url 'sell_existing' book.id %}">Sell one like this</a>
			{% endif%}
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No books are available.</p>
{% endif %}