{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
        .margin{
            margin: 10px;
        }
    </style>
    <div class="col-md-8 col-md-offset-2">
        <form class="margin" action="" method="POST">
            {% csrf_token %}
            <div class="panel panel-default">
              <div class="panel-heading">Currently Purchasing {{ book }} for ${{book_for_sale.cost}} </div>
            </div>
            <!--<div class="panel panel-default">
              <div class="panel-heading">Credit Card Information</div>
              <div class="panel-body">
                  Credit Card: {{ buy_form.credit_card }}
                  <div class="row">

                      
                  </div>
                  First Name: {{ buy_form.first_name }}
                  Last Name: {{ buy_form.first_name }}
                  CVV: {{ buy_form.first_name }}
              </div>
             </div>-->

            {{ buy_form }}
            <input class="btn btn-default" type="submit" value="submit">
        </form>
    </div>

{% endblock %}