{% extends "base.html" %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
	<h1> My Book Collection </h1>
	{% if books %}
		<ul class="list-group">
		{% for book in books %}
			<li class="list-group-item">
				<a href="{% url 'book' book.id %}">{{ book.title }}</a> by {{book.author}}
				<span class="badge">{{book.books_for_sale_count}} for sale</span>
				<form method="post" class="form-inline">
					 {% csrf_token %}
					<input type="submit" value="x" name="{{book.id}}"class="btn btn-danger">
				</form>
				{% if condition == True %}
					<br/><br/>
					<a class="option" href="{% url 'sell_existing' book.id %}">Sell one like this</a>
				{% endif%}
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No books in your collection!</p>
	{% endif %}
{% endblock %}