{% load static %}

<style>
    .padding{
        padding-top:20px;
    }
    .sell-btn{
        width:49%;
        padding:10px;
        background-color:#142126;
        color:white;
    }
    .padding-header{
        padding: 20px;
    }
    /*.panel-default>.panel-heading {
        background-color: #142126;
        color:white;
    }*/
</style>
<link rel="stylesheet" type="text/css" href="{% static 'bookSell/sell_result.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bookSell/sell_form.css' %}" />
