{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>{{book.title}} <small>by {{book.author}}</small></h1>
  <h5> {{book.get_genre_display}} Book</h5>
</div>
<p> {{book.description}} </p>

<h3> Copies For Sale: </h3>

<table class="table">
	<th><a href="?sort=condition"> Condition </a></th>
	<th><a href="?sort=cost"> Cost </a></th>
	<th><a href="?sort=userSelling"> Sold By </a></th>
	{% for book in books_for_sale %}
	    {% include "books/book_for_sale.html" %}    
	{% endfor %}
</table>
{% endblock %}
