{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_javascript %}
{% bootstrap_css %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Book Sell{% endblock %}</title>
    <style type="text/css">
    	a.title:link { color:#000; text-decoration:none; font-weight:normal; }
		a.title:visited { color: #000; text-decoration:none; font-weight:normal; }
		a.title:hover { color: #000; text-decoration:none; font-weight:normal; }
		a.title:active { color: #000; text-decoration:none; font-weight:normal; }
    </style>
</head>


<!-- navigation bar here -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- header -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BookSell</a>
    </div>
    <!-- left side -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="{% url 'index' %}">Homepage</a></li>
       </ul>
      <form method="get" action="/results/" class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" id="searchBox" class="form-control" name="q">
        </div>
        <input type="submit" class="btn" value="Search" >
      </form>

      <!-- right side -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand" href="{% url 'register' %}">Register</a></li>
      </ul>
    </div>
  </div>
</nav>


<body>
    <div id="content" class = "row">
  		<div class="col-md-8 col-md-offset-2">
        	{% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
