 <footer>
  <div class="container">
      <div class="container">
          <div class="row footer-row">
            <div class="footer-col col-md-4">
              <ul>
                <li><a href="#"><strong>Sell</strong></a></li>
                <li><a href="#">EcoBook Selling Standards</a></li>
                <li><a href="#">Understanding EcoBook Sell Cycle</a></li>
                <li><a href="{% url 'sell' %}">Sell Book</a></li>
              </ul>
            </div>
            <div class="footer-col col-md-4">
               <ul>
                    <li><a style="font-size:bold;" href="#"><strong>About EcoBook</strong></a></li>
                    <li><a href="#">Company Culture</a></li>
                    <li><a href="#">Marketing Team</a></li>
                    <li><a href="#">Developer Team</a></li>
                </ul>
            </div>
            <div class="footer-col col-md-4">
              <ul>
                <li><a style="font-size:bold;" href="#"><strong>Help & Contact</strong></a></li>
                <li><a href="#">Seller Information Center</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
      </div>
  </div>
</footer>