{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'bookSell/style.scss' %}" />
<script src="{% static 'bookSell/script.js' %}"></script>
<!-- Include meta tag to ensure proper rendering and touch zooming -->
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="container">
    <div class="nav navbar">
        <form method="get" action="/results/" class="form-width">
        <div class="input-group search_option btn-group dropdown">
          <!--<span class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{genre}} <span class="caret"></span></button>
            <ul class="dropdown-menu">
              {% for genre in genres %}
                  <li><a href="{% url 'genre' genre %}">{{genre}}</a></li>
              {% endfor %}
            </ul>
          </span>-->
          <input type="text" id="searchBox" class="underneath form-control" name="q" placeholder="Search for...">
            <span class="input-group-btn">
                <button type="submit" style="height:34px;" class="btn btn-default" aria-label="Left Align">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                <!--<input class="btn btn-default" type="submit" value="Search">-->
            </span>
        </div>
        </form>
    </div>
</div>

<div class="nav navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <!-- when register is complete, welcome will display the user it is using  {{ request.user }}-->
            <li> <a href="{% url 'index' %}"> Welcome
                 {% if request.user.is_authenticated %}
                     {{ request.user.username}}
                 {% endif %} !</a>
            </li>
			{% if user.is_authenticated %}
			    <li><a href="{% url 'logout'%}">Logout</a></li>
			{% else %}
			    <li><a href="{% url 'register'%}">Register</a></li>
			    <li><a href="{% url 'login' %}">Login</a></li>
			{% endif %}
        </ul>
		{% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'sell' %}">Sell</a></li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">My Eco Scrapbook <b class="caret"></b></a>
              <ul class="dropdown-menu" id="menu2">
                <li><a href="{% url 'wishlist' %}">Wishlist  <span class="badge">{{wishlist_count}}</span></a></li>
                  <li><a href="{% url 'selling' %}">Selling</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'purchase_history' %}">Purchase History</a></li>
              </ul>
            </li>
         </ul>
		 {% endif %}
    </div>

</div>

