{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'bookSell/register.css' %}" />
	<div id="background" class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Register</h1>

			{% if registered %}
			EcoBooks says: <strong>thank you for registering!</strong>
			<a href="/">Return to the homepage.</a><br />
			{% else %}

			<form id="user_form" method="post" action="/register/">
				{% csrf_token %}
				{{ user_form }}
				{{ profile_form }}
				<!-- Provide a button to click to submit the form. -->
				<input type="submit" class="btn space center-block btn-default" name="submit" value="Register" />
			</form>
			{% endif %}
		</div>
	</div>
{% endblock %}