#background{
    background-image: url("images/register_background.jpg");
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    height: 650px;
    width:100%;
    z-index:-100;
}

#user_form{
    background-color:#142126;
    padding: 20px;
    color:white;
    border-radius: 10px;
}

label{
    padding: 5px;
    font-weight: normal;
}