#logo{
    padding:15px;
}

.outer-box{
    border:1px solid black;
    padding:20px;
}

.center{
    display:block;
    margin-left:40%;
    margin-right:auto;
    width:100%;
}

.center-btn{
    margin-left:30px;
    margin-top:20px;
}